! X Resources

Xft.autohint: 0
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.dpi: 96
Xft.rgba: rgb
Xft.lcdfilter: lcddefault

! Set the font
!URxvt.font: xft:monaco:size=10
!URxvt.letterSpace: -1
!URxvt.lineSpace: -2

! Disable scrollbar
URxvt.scrollBar: false

! Set terminal padding
URxvt.internalBorder: 15

! Enables copy/paste with Ctrl-Shift-C/V
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext-common: default,clipboard
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.keysym.Shift-Control-V: perl:clipboard:paste

! special
*.foreground:   #eceff1
*.background:   #263238
*.cursorColor:  #eceff1

! black
*.color0:       #263238
*.color8:       #37474f

! red
*.color1:       #ff9800
*.color9:       #ffa74d

! green
*.color2:       #8bc34a
*.color10:      #9ccc65

! yellow
*.color3:       #ffc107
*.color11:      #ffa000

! blue
*.color4:       #03a9f4
*.color12:      #81d4fa

! magenta
*.color5:       #e91e63
*.color13:      #ad1457

! cyan
*.color6:       #009688
*.color14:      #26a69a

! white
*.color7:       #cfd8dc
*.color15:      #eceff1
